<html lang='en'>
  <head>
   {{!-- //doesn't work
    <link rel='stylesheet' href='../../../web-server/public/css/styles.css' /> --}}

 <link rel='stylesheet' href='./css/styles.css' /> 

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
   <link rel='icon' href='/img/weather.png'/>

   
      
    <title>Error</title>
  </head>
  <body>
<div class="main-content">
  {{>header}}
{{errorMessage}}

</div>




{{>footer}}
  </body>
</html>